.wrapper
  .container
    .row 
      .col-sm-7
        .card.mt-3 
          .card-header
            %h3 Datos Basicos
          .card-body
            = form_for @profile do |f|
              .row.form-group
                .col-sm-4.col-form-label
                  = f.label :name 
                .col-sm-8  
                  = f.text_field :name, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :last_name 
                .col-sm-8 
                  = f.text_field :last_name, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :email
                .col-sm-8
                  = f.email_field :email, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :biography
                .col-sm-8
                  = f.text_area :bio, class: "form-control", rows: 5
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :subtitle
                .col-sm-8
                  = f.text_field :subtititle, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :username 
                .col-sm-8
                  = f.text_field :user_name, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :birthday 
                .col-sm-8
                  = f.date_field :birthday, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :image 
                  = image_tag @profile.image, class: "profile_img_width"
                .col-sm-8
                  = f.file_field :image
              .row.form-group
                .col-sm-6
                  = f.submit 'Ingresar', class: 'btn btn-primary'  
      .col-sm-5
        .col-sm-12          
          .col-sm-12
            .card-mt-3
              .card-body
                %h3 Hobbies
                %table.table
                  %tr
                    %th name
                    %th category 
                    %th test
                  - @profile.hobbies.each do |hobby|
                    %tr
                      %td= hobby.name
                      %td= link_to 'editar', "http://localhost:3000/profiles/#{@profile.id}/hobbies/#{hobby.id}/edit" 
                      %td= link_to 'eliminar', profile_hobby_path(@profile,hobby) , method: :delete, data: { confirm: 'Estas Seguro?' } 
                = link_to 'agregar', "http://localhost:3000/profiles/#{@profile.id}/hobbies/new", class: 'btn btn-primary'
          .col-sm-12
            .card-mt-3
              .card-body
                %h3 Certificados
                %table.table
                  %tr
                    %th name
                    %th category 
                    %th test
                  - @profile.certificates.each do |cert|
                    %tr
                      %td= cert.name
                      %td= link_to 'editar', "http://localhost:3000/profiles/#{@profile.id}/certificates/#{cert.id}/edit" 
                      %td= link_to 'eliminar', profile_certificate_path(@profile,cert) , method: :delete, data: { confirm: 'Estas Seguro?' } 
                = link_to 'agregar', "http://localhost:3000/profiles/#{@profile.id}/certificates/new", class: 'btn btn-primary'
          .col-sm-12
            .card-mt-3
              .card-body
                %h3 Amigos
                %table.table 
                  %tr
                    %th name
                    %th category 
                    %th test
                  - @profile.friends.each do |cert|
                    %tr
                      %td= cert.aka
                      %td= link_to 'editar', "http://localhost:3000/profiles/#{@profile.id}/friends/#{cert.id}/edit" 
                      %td= link_to 'eliminar', profile_friend_path(@profile,cert) , method: :delete, data: { confirm: 'Estas Seguro?' } 
                = link_to 'agregar', "http://localhost:3000/profiles/#{@profile.id}/friends/new", class: 'btn btn-primary'
                  

