.wrapper
  .container.mt-4
    .col-md-12
      %h1="#{@profile["profile"]["firstname"]} #{@profile["profile"]["lastname"]}"
    .col-md-12  
      %h2=@profile["profile"]["subtitle"]
    .col-md-12  
      %hr
      %h3.center Información Básica
      %hr
    .col-md-8
      .bio
        %p=@profile["profile"]["bio"]
    .col-md-4
      .profile_image
        = image_tag @profile["profile"]["image"], class: "profile_img_width"
    .col-md-12
      %hr    
      %h3.center Hobbies
      %hr
    .center
      - @profile["profile"]["hobbies"].each do |h|
       
        %span.span_alignment
          %p=h["name"]
          %ul.ul_alignment 
            - h["preference"].to_i.times do |x|
              %li
                = image_tag "star", class: "ul_img_width"
  
        -#http://10.182.99.124:3000/profiles/1.json
    .col-md-12
      %hr
      %h3.center Certificaciones  
      %hr
      %ul.center 
        - if @profile["profile"]["certificates"]
          - @profile["profile"]["certificates"].each do |cert|  
            %li 
              %span= cert["name"]
              - unless params[:url]
                %span= link_to "ver", "#{url_for cert.pdf}"
              
    .col-md-12  
      - unless params[:url]       
        %hr
        %h3.center Contactos
        %hr
    .row
    .col-md-12  
      - unless params[:url]
        - if @profile["profile"]["friends"].size != 0 
          - @profile["profile"]["friends"].each do |friend|
            - if friend[0] == nil
              .col-md-3.offset-md-1-left
                .card.mt-5
                  = image_tag "default.jpg" ,:class => "card-img-top",  width: '50'
                  .card-body
                    .card-title
                      %p= friend["aka"]
                    = link_to "ver perfil", "http://localhost:3000/profiles/?url=#{friend[1]}", class: "btn btn-primary"
            - else 
              = image_tag friend[0]["profile"]["image"] 
              = link_to "ver perfil", "http://localhost:3000/profiles/?url=#{friend[1]}"
        - else
          %p no tienes amigos por los momentos 
    - unless params[:url]
      .col-md-12
        .col-md-1.offset-md-11
          %hr
            = link_to "editar", "http://localhost:3000/profiles/#{1}/edit", class: "btn btn-primary"
          %hr
        
        
          


