.wrapper
  .container
    .row 
      .col-12
        .card.mt-3 
          .card-header
            %h3 Datos Basicos
          .card-body
            = form_for @profile do |f|
              .row.form-group
                .col-sm-4.col-form-label
                  = f.label :name 
                .col-sm-8  
                  = f.text_field :name, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :last_name 
                .col-sm-8 
                  = f.text_field :last_name, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :email
                .col-sm-8
                  = f.email_field :email, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :biography
                .col-sm-8
                  = f.text_area :bio, class: "form-control", rows: 5
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :subtitle
                .col-sm-8
                  = f.text_field :subtititle, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :username 
                .col-sm-8
                  = f.text_field :user_name, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :birthday 
                .col-sm-8
                  = f.date_field :birthday, class: "form-control"
              .row.form-group    
                .col-sm-4.col-form-label
                  = f.label :image 
                .col-sm-8
                  = f.file_field :image
              .row.form-group
                .col-sm-6
                  = f.submit 'Ingresar', class: 'btn btn-primary'  
                  %h2 hobbies (opcional)
              - 1.upto(3) do |x|
                .col-sm-4
                  .card.mt-3 
                    = f.fields_for :hobbies do |hobbie_fields|
                      .field
                        = hobbie_fields.label :name
                        = hobbie_fields.text_field :name, class: "form-control"
                      .field 
                        = hobbie_fields.label :descriticon
                        = hobbie_fields.text_field :descripticon, class: "form-control"
                      .field 
                        = hobbie_fields.label :preference
                        = hobbie_fields.text_field :preference, class: "form-control"
                      .field 
                        = hobbie_fields.label :category
                        = hobbie_fields.text_field :category, class: "form-control"
                %h2 certificados (opcional)
              - 1.upto(3) do |x|
                .hobbie 
                  %h5="certificado #{x}" 
                  = f.fields_for :certificates do |cert_fields|
                    .field
                      = cert_fields.label :name
                      = cert_fields.text_field :name
                    .field
                      = cert_fields.label :pdf
                      = cert_fields.file_field :pdf 
                      
              .actions
                = f.submit
                

