%h1="#{@profile.name} #{@profile.last_name}"
%h2=@profile.subtititle
%hr
%h3.center="Informacion Basica"
%hr
.container.center
  .bio
    %p=@profile.bio
    %p=@profile.email
  .profile_image
    = image_tag @profile.image
%hr    
%h3.center Hobbies
%hr
.center
  - @profile.hobbies.each do |h|
    %p=h.name
    %p=h.descripticon
%hr
%h3.center Certificaciones  
%hr
%ul.center 
  - @profile.certificates.each do |cert|
    - if cert.pdf != "nil"
      %li 
        %span= cert.name
        %span= link_to 'ver', "#{url_for cert.pdf}"
%hr
%h3.center Contactos
%hr
%ul.center 
  - @profile.friends.each do |friend|
    = friend.aka
    
      


