.wrapper
  .container
    .row 
      .col-sm-12
        .card.mt-3 
          .card-header
            %h5="Nuevo Amigo" 
          .card-body
            = form_with(model: [@profile, @friends], local: true )  do |friend|
              .row.form-group
                .col-sm-4.col-form-label
                  = friend.label :nickname
                .col-sm-8  
                  = friend.text_field :aka, class: "form-control"
              .row.form-group
                .col-sm-4.col-form-label
                  = friend.label :url
                .col-sm-8  
                  = friend.text_field :url, class: "form-control"
              .row.form-group
                .col-sm-6
                  = friend.submit 'Ingresar', class: 'btn btn-primary'  