.wrapper
  .container
    .row 
      .col-sm-12
        .card.mt-3 
          .card-header
            %h5="Nuevo Amigo" 
          .card-body
            = form_with(model: [@profile, @friend], local: true )  do |friend|
              .row.form-group
                .col-sm-4.col-form-label
                  = friend.label :nickname
                .col-sm-8  
                  = friend.text_field :aka, class: "form-control"
              .row.form-group
                .col-sm-4.col-form-label
                  = friend.label :url
                .col-sm-8  
                  = friend.text_field :url, class: "form-control"
              .row.form-group
                .col-sm-6
                  = friend.submit 'Ingresar', class: 'btn btn-primary'  
      

  -# .wrapper
  -# .container
  -#   .row 
  -#     .col-sm-12
  -#       .card.mt-3 
  -#         .card-header
  -#           %h5="Nuevo Hobby" 
  -#         .card-body
  -#           = form_with(model: [@profile, @hobby], local: true )do |cert_fields|
  -#             .row.form-group
  -#               .col-sm-4.col-form-label
  -#                 = cert_fields.label :name
  -#               .col-sm-8  
  -#                 = cert_fields.text_field :name, class: "form-control"
  -#             .row.form-group
  -#               .col-sm-4.col-form-label
  -#                 = cert_fields.label :descripticon
  -#               .col-sm-8 
  -#                 = cert_fields.text_field :descripticon, class: "form-control"
  -#             .row.form-group
  -#               .col-sm-4.col-form-label
  -#                 = cert_fields.label :preference
  -#               .col-sm-8 
  -#                 = cert_fields.text_field :preference, class: "form-control"
  -#             .row.form-group
  -#               .col-sm-4.col-form-label
  -#                 = cert_fields.label :category
  -#               .col-sm-8   
  -#                 = cert_fields.text_field :category, class: "form-control"
  -#             .row.form-group
  -#               .col-sm-6
  -#                 = cert_fields.submit 'Ingresar', class: 'btn btn-primary'  