.wrapper
  .container
    .row 
      .col-sm-12
        .card.mt-3 
          .card-header
            %h5="Editar Hobby" 
          .card-body
            = form_with(model: [@profile, @hobby], local: true )do |cert_fields|
              .row.form-group
                .col-sm-4.col-form-label
                  = cert_fields.label :name
                .col-sm-8  
                  = cert_fields.text_field :name, class: "form-control"
              .row.form-group
                .col-sm-4.col-form-label
                  = cert_fields.label :descripticon
                .col-sm-8 
                  = cert_fields.text_field :descripticon, class: "form-control"
              .row.form-group
                .col-sm-4.col-form-label
                  = cert_fields.label :preference
                .col-sm-8 
                  = cert_fields.select :preference, [1,2,3,4,5]
              .row.form-group
                .col-sm-4.col-form-label
                  = cert_fields.label :category
                .col-sm-8   
                  = cert_fields.select :category, ["Lectoescritura","Aventura","Fitness","Coleccionismo","Entretenimiento","Construcción","Gastronomía"]
              .row.form-group
                .col-sm-6
                  = cert_fields.submit 'Ingresar', class: 'btn btn-primary'  
  