.wrapper
  .container
    .row 
      .col-sm-12
        .card.mt-3 
          .card-header
            %h5="Nuevo Certificado" 
          .card-body
            = form_with(model: [@profile, @cert], local: true )  do |friend|
              .row.form-group
                .col-sm-4.col-form-label
                  = friend.label :name
                .col-sm-8  
                  = friend.text_field :name, class: "form-control"
              .row.form-group
                .col-sm-4.col-form-label
                  = friend.label :pdf
                .col-sm-8  
                  = friend.file_field :pdf
              .row.form-group
                .col-sm-6
                  = friend.submit 'Ingresar', class: 'btn btn-primary'  
    
