// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.center{
    margin: 0 20px;
}

.bio{
    flex:1 1 60%;
}

.profile_image{
    flex:1 1 40%;
}
.profile_img_width{
    width: 30%;
    float: right;
    margin-right: 20px;
}

.ul_alignment{
    display: flex;
    flex-direction: row;    
    list-style: none;
}

.ul_img_width{
    width: 100%;
    margin: 0;
}

.span_alignment{
    display: flex;
    flex-direction: row;
}